body {
    /* margin: 0; Remove default body margin */
    background-color: rgb(184, 185, 252); /* Set the background color of the body to red */
  }
.Parent{
display: flex;
/* border: 2px solid red; */
justify-content: center;
width: 100%;
height: 100%;
/* background-color: rgb(202, 196, 236); */
}
.firstChild{
background-color: rgb(83, 71, 149);
width: 800px;
height: 600px;
border-radius: 10px;
margin-top: 10px
}
.taskbar{
justify-content: center;
align-items: center;
display: flex;
margin-top: 50px;
gap: 15px;height: 60px;
/* justify-content: space-between; */
background-color: rgb(24, 16, 70);
}
input{
   height: 25px;
   width: 200px;
   border-radius: 10px;
   border: none;
   outline: none;
   font-size: 15px;
}
button{
    height: 30px;
    width: 120px;
    border-radius:50px ;
    border: none ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;
    background: rgb(240, 113, 67) ; 
    margin-right: 10px;
}
button:hover{
    background: rgb(252, 132, 88) ;
}
.TaskAdded{
    
    justify-content: space-around;
    flex-direction: column;
    color: white;
    
    display: flex;
    flex-direction: column;
}
.taskContent{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    margin-top: 10px;
   

}
#srNo{
    /* border: 2px solid rgb(234, 214, 218); */
    width: 30px;
    margin:10px;
    display: flex;
    justify-content: center;
    align-items: center; 
    
}
#task{
   
    /* display: flex; */
    text-align: justify;
    align-items: center; 
    /* margin-right:100px; */
    padding: 10px;


}
@media (max-width: 600px) {
    .Parent {
      width: 100%;
    }
  }
